<html>
  <head><title>乗り換え案内</title></head>
  <body>
    乗り換え案内
    <br>
    <form action ="/search">
    出発：
    <select name="from">
      {{range .}}
      <option disabled>{{.Name}}</option>
      {{range .Stations}}
      <option >{{.}}</option>
      {{end}}
      {{end}}
    </select>
    <br>
    到着：
    <select name="to">
      {{range .}}
      <option disabled>{{.Name}}</option>
      {{range .Stations}}
      <option >{{.}}</option>
      {{end}}
      {{end}}
    </select>
    <br>
    <input type="submit" value="検索" >
    </form>
  </body>
</html>
